.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.trip-body {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: flex-end;
}
