.trip-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.trip-card {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgrey;
}

.trip-card:hover {
  background-color: #ffe3ec;
  background: #ffe3ec;
}

.trip-header {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  text-align: center;
  justify-content: center;
}

.trip-body {
  justify-content: left;
}

#expired {
  opacity: 0.5;
  margin-top: 50px;
}

.trip-h1 {
  /* font-size: 50px; */
  text-decoration: 8px under #f74083;;
  color: #f74083;
}

h2.countdown {
  text-align: center;
  margin-bottom: 40px;
  color: #c2c2c2;
}

.trip-body {
  text-align: left;
}

.trip-h3 {
  /* font-size: 35px; */
  color: #4f4f4f;
}

.trip-h4 {
  text-align: left;
  color: #c4c4c4;
}

.trip-foot {
  text-align: left;
  color: #f22771;
  border-top: solid 0px #dedede;
  /* color: #eba0ae; */
}