@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./components/assets/Roboto-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto-Regular", arial, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#fab-position {
  position: fixed;
  bottom: 0;
  margin: 0 0 100px 25vw;
  max-width: 400px;
  z-index: 2;
}

.MuiFab-circular {
  background-color: rgb(255, 119, 169) !important;
  background: linear-gradient(
    180deg,
    rgba(235, 160, 174, 0.6) 0%,
    rgba(242, 39, 113, 0.3) 100%
  );
  color: white !important;
  transition: 0.3s;
  position: sticky !important;
  top: 0 !important;
}

.MuiFab-circular:hover {
  background-color: #f22771 !important;
}
