@font-face {
  font-family: "circular-std-medium-500";
  src: local("circular-std-medium-500"),
    url("./components/assets/circular-std-medium-500.ttf") format('truetype')
}

body {
  margin: 0;
  font-family: "circular-std-medium-500", arial, serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
