body {
  letter-spacing: 0.5px;
  margin-top: 100px;
  background-color: #fefefe;
}

.css-l31w18 {
  background-color: #fefefe !important;
}

.sidebar {
  min-width: fit-content;
  left: 0;
  top: 25%;
  margin-right: 40px;
  display: fixed;
  position: sticky;
  z-index: 2;
  float: left;
  border-radius: 10px;
  border-right: rgb(241, 241, 241) 1px solid;
}

.MuiTabs-indicator {
  background-color: #eba0ae !important;
  padding: 2.2px;
  background: linear-gradient(
    180deg,
    rgba(235, 160, 174, 1) 0%,
    rgba(242, 39, 113, 0.6) 100%
  );
}

.css-i4bv87-MuiSvgIcon-root {
  opacity: 0.65;
}

.MuiTab-root:hover {
  background: linear-gradient(
    180deg,
    rgb(235, 160, 174, 0.5) 0%,
    rgba(242, 39, 113, 0.4) 100%
  ) !important;
}

.tab-content {
  width: 100%;
  padding: 2%;
  margin-top: 4%;
}

.tab-box {
  max-width: 100vw;
  height: auto;
  justify-content: flex-start;
  margin-right: 2%;
}

p {
  margin: 0%;
}

.css-19kzrtu {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

#save-details-button {
  background-color: #eba0ae;
  color: white;
}
#default-cancel-button {
  color: #64baaa;
}
#search-button {
  color: black;
  margin-right: -18px;
  padding-left: 0px;
  padding-right: 0px;
  background: transparent;
}
/* #flightNumber:focus {
  background-color: yellow;
} */
/* .MuiFormControl-root:focus {
  background-color: yellow;
} */
.MuiOutlinedInput-notchedOutline.disable-x {
  background-color: black;
}
.MuiButton-root#search-button {
  width: 10px;
}

/* label: {
  position: 'absolute',
  left: 12,
  top: -5
} */


