.flights-window {
  display: flex;
  flex-direction: column;
}

.flights-header {
  font-size: x-large;
}

.flights-content {
  display: flex;
  flex-direction: row;
}

  .flights-content-outbound {
    flex: 1;
    border-right: solid;
    border-color: lightgrey;
    padding-right: 1%;
  }

  .flights-content-inbound {
    flex: 1;
    padding-left: 1%;
  }

  .flights-content-subheading {
    font-size: xxx-large;
    text-align: center;
  }

.flights-footer {
  margin-top: 3%;
  text-align: right;
}

.loading {
  text-align: center;
}

.fuschia {
  color: #F22771 !important;
}