.flights-window {
  display: flex;
  flex-direction: column;
}

.flights-header {
  font-size: x-large;
  text-align: center;
  margin-bottom: 2%;
}

.flights-content {
  display: flex;
  flex-direction: row;
}

.flights-content-outbound {
  flex: 1;
  border-right: solid 1px;
  border-color: lightgrey;
  padding-right: 1%;
}

.flights-content-inbound {
  flex: 1;
  padding-left: 1%;
}

.flights-content-subheading {
  font-size: xx-large;
  text-align: center;
  color: #f22771 !important;
}

.flights-footer {
  margin-top: 3%;
  text-align: right;
}

.loading {
  text-align: center;
}

.fuschia {
  color: #f22771 !important;
}
