/* Card classes */
.flight-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-bottom: 5%;
  /* border-style: solid; */
  border-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgrey;
  background-color: white;
}

.flight-card-content {
  display: flex;
  flex-direction: row;
  
}

.footer {
  border-top: solid 1px;
  border-color: lightgrey;
  padding-top: 1%;
  margin-top: 1%;
}

.flight-card-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.flight-card-arrival-pane {
  flex: 4;
}

.flight-card-departure-pane {
  flex: 4;
}

.flight-card-crud {
  flex: 1;
}

/* Airport pane classes */
.airport-pane-top {
  text-align: center;
  
}

.airport-pane-middle {
  text-align: left;
  display: flex;

}
  .label {
    flex: 1;
  }

.airport-pane-bottom {
  text-align: left;
}

.airport-pane-code {
  padding-top: 2%;
  padding-bottom: 4%;
}

.airport-pane-city {
  text-align: left;
}

/* Footer pane classes */
.footer-pane-left {
  text-align: left;
  flex: 1;
}

.footer-pane-middle {
  text-align: left;
  flex: 1;
}

.footer-pane-right {
  text-align: left;
  flex: 1;
}

.labels {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
}

.light-label {
  color: rgb(160, 160, 160);
}

.footer-text {
  display: flex;
}

.footer-directions {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

/* h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
} */