/* Card classes */
.flight-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0%;
  margin-bottom: 5%;
}

.flight-card-content {
  display: flex;
  flex-direction: row;
}

.flight-card-footer {
  display: flex;
  flex-direction: row;
}

.flight-card-arrival-pane {
  flex: 1;
}

.flight-card-departure-pane {
  flex: 1;
}

/* Airport pane classes */
.airport-pane-top {
  text-align: center;
}

.airport-pane-middle {
  text-align: center;
}

.airport-pane-bottom {
  text-align: center;
}

.airport-pane-code {
}

.airport-pane-city {
}

/* Footer pane classes */
.footer-pane-left {
  text-align: center;
  flex: 1;
}

.footer-pane-middle {
  text-align: center;
  flex: 1;
}

.footer-pane-right {
  text-align: center;
  flex: 1;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}