/* .accommodation-card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ffe3ec, #eba0ae);
  border-radius: 25px;
  opacity: 0.9;
  text-align: center;
  margin: 10;
}

.crud-menu {
  display: flex;
  flex: 1;
  justify-content: right;
}

.header {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 10px;
}

.subheading {
  justify-content: center;
  text-align: center;
}

.accommodation-body {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  justify-items: center;
  padding: 10px 0px 15px 0px;
}

.accommodation-card-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 15px;
}

.check-in {
  text-align: right;
  padding-right: 15px;
  margin: 0;
}

.check-out {
  text-align: left;
  padding-left: 15px;
  margin: 0;
}

.accommodation-upload {
  padding: 10px 0px 15px 0px;
} */