/* .accommodation-card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ffe3ec, #eba0ae);
  border-radius: 25px;
  opacity: 0.9;
  text-align: center;
  margin: 10;
}

.crud-menu {
  display: flex;
  flex: 1;
  justify-content: right;
}

.header {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 10px;
}

.subheading {
  justify-content: center;
  text-align: center;
}

.accommodation-body {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  justify-items: center;
  padding: 10px 0px 15px 0px;
}

.accommodation-card-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 15px;
}

.check-in {
  text-align: right;
  padding-right: 15px;
  margin: 0;
}

.check-out {
  text-align: left;
  padding-left: 15px;
  margin: 0;
}

.accommodation-upload {
  padding: 10px 0px 15px 0px;
} */

.check-out-header{
  color: rgb(160, 160, 160);
}

.check-in-header{
  color: rgb(160, 160, 160);
}

.check-out-time{
  color: #F22771;
}

.check-in-time{
  color: #F22771;
}

/* FOOTER */

.transfer-footer{
  padding-left:25px;
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: solid 1px;
  border-color: lightgrey;
  margin-top: 1%;
}

.footer-labels{
  display: flex;
  flex-direction: row;
  font-size: 80%;
}

.footer-left {
  text-align: left;
  flex: 1;
}

.footer-middle {
  text-align: center;
  flex: 1;
}

.footer-right {
  text-align: right;
  flex: 1;
}

.labels {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-text {
  display: flex;
}

.footer-uploads{
  padding-left: 25px;
}





