.parking-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

  .parking-card-header {
    flex: 1;
    display: flex;
  }

  .parking-card-dates-content {
    flex: 1;
    display: flex;
    text-align: center;
  }

    .parking-card-dates-arrival {
      flex: 1;
    }

    .parking-card-dates-departure {
      flex: 1;
    }

  .parking-card-contact-content {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

    .parking-card-contact-airport {
      flex: 1;
    }

    .parking-card-contact-name {
      flex: 1;
    }

    .parking-card-contact-address {
      flex: 1;
    }

    .parking-card-contact-number {
      flex: 1;
    }

    .parking-card-vehicle-content {
      flex: 2;
    }

  .parking-card-notes-footer {
    flex: 1;
    border-top: solid;
    border-color: lightgrey;
  }