/* CARD LAYOUT */
.outbound-transfer-card {
  display: flex;
  flex-direction: column;
  border-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgrey; 
  margin-right: 2%;
  flex: 1 2;
  border-right: solid;
  border-color: lightgrey;
}

.inbound-transfer-card {
  display: flex;
  flex-direction: column;
  border-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgrey; 
  padding-right: 1%;
  margin-left: 2%;
}

.transfers-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.transfer-body {
display: flex;
flex-direction: row;
flex: 1;
margin-bottom: 2%;
}

.transfers-content-subheading {
font-size: xx-large;
text-align: center;
color: #F22771 !important;
}

.transfers-header {
font-size: xx-large;
text-align: center;
color: #F22771 !important;
}

.pickup-content {
text-align: left;
padding-left: 25px;
display: flex;
justify-content: left;
flex-direction: row;
margin-bottom: 2%;
}

.dropoff-content {
text-align: left;
padding-left: 30px;
display: flex;
justify-content: right;
flex-direction: row;
}

.pink{
  color: #f22771
}

.pickup-address{
  margin-top: 8%;
}

.dropoff-address{
  margin-top: 8%;
}

.font-labels {
  font-size: 80%;
}

/* FOOTER */

.transfer-footer{
  padding-left:25px;
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: solid 1px;
  border-color: lightgrey;
  margin-top: 1%;
}

.footer-labels{
  display: flex;
  flex-direction: row;
  font-size: 80%;
}

.footer-left {
  text-align: left;
  flex: 1;
}

.footer-middle {
  text-align: left;
  flex: 1;
}

.footer-right {
  text-align: left;
  flex: 1;
  padding-right: 10px;
}

.labels {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-text {
  display: flex;
}

.footer-uploads{
  padding-left: 25px;
}


