/* .transfer-card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ffe3ec, #eba0ae);
  border-radius: 25px;
  opacity: 0.9;
  text-align: center;
  margin: 10;
}

.crud-menu {
  display: flex;
  flex: 1;
  justify-content: right;
}

.header {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 10px;
}

.subheading {
  justify-content: center;
  text-align: center;
}

.transfer-body {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  justify-items: center;
  padding: 10px 0px 15px 0px;
}

.transfer-card-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 15px;
}

.pickup {
  text-align: right;
  padding: 10px 20px 0px 15px;
  margin: 0;
}

.dropoff {
  text-align: left;
  padding: 10px 15px 0px 20px;
  margin: 0;
}

.address {
  padding-top: 10px;
}

.transfer-upload {
  padding: 10px 0px 15px 0px;
}

 */
