.covid-window {
  display: flex;
  flex-direction: column;
}

  .covid-header {
    flex: 1;
  }

  .covid-content {
    flex: 1;
    display: flex;
    flex-direction: row;
  
  } 
    .covid-content-vaccinations {
      flex: 1.2;
      /* border-right: solid;
      border-color: lightgrey;
      border-width: 1px; */
    }
    
    .covid-content-testing {
      margin-left: 2%;
      flex: 1;
    }

  .covid-footer {
    flex: 1;
  } 