#navbar {
  background-color: red;
  height: 50px;
  /* position: sticky; */
  display: fixed;
}

#logo {
 color: white;
 text-decoration: none;
 text-transform: uppercase;
 letter-spacing: 3px;
}

a {
  text-decoration: none;
}

#nav-auth {
  display: inline-block;
  width: 500px;
}

#nav-trips {
  color: inherit;
  text-decoration: none;
}